html,body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}
@font-face {
    font-family: 'Archivo Black';
    src: url('./ArchivoBlack-Regular.ttf');
}
.page-width{
    max-width: 768px;
    margin: 0px auto;
}
.flex{
    display: flex;
    flex-wrap: wrap;
}
.flex-item{
    width: 100%;
}
.preview-container,.editor-container{
    padding: 30px;
}
.preview{
    width: 100%;
    padding-bottom: 100%;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.preview img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.editor-container input{
    width: 100%;
    border: 2px solid rgb(227, 227, 227);
    height: 40px;
    border-radius: 5px;
    margin-bottom: 15px;
    padding-left: 20px;
}
.editor-container input:focus{
    outline: 2px solid rgb(0, 136, 255);
}
.editor-container label{
    padding-bottom: 10px;
    display: block;
}
.btn-download{
    background: transparent;
    border: none;
}

.image-content{
    --padding: 20px;
    position: absolute;
    width: calc(100% - (var(--padding)*2));
    padding: var(--padding);
    text-align: center;
    color: white;
    font-family: 'Archivo Black', sans-serif;
}

.image-content#img-heading{
    top: 0px;
}
.image-content#img-subheading{
    bottom: 0px;
}

@media screen and (min-width: 768px) {
    .flex{
        display: flex;
        flex-wrap: nowrap;
    }
    .flex-item{
        width: 50%;
    }
}